@model ProductListingModel

<div class="panel panel-default">
    @if (Model.Discount > 0)
    {
        <span class="label label-success">Discount <span class="badge">@Model.Discount%</span></span>
    }
    <div class="panel-body">
        <img src="http://www.pulsar.bg/image/cache/data/products4/Packshots3/TotalWarhammer2_pc-180x180.jpg" title="game-img" alt="@Model.Title" class="img-responsive" />
    </div>
    <div class="panel-footer text-center">
        <div>@Model.Model | @Model.Title</div>
        <div>@Model.Price EUR </div>
    </div>
    <div class="text-center">
        <a asp-area="" asp-controller="Products" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-primary">Details</a>
    </div>
</div>