@model CategoryMenuViewModel

<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li class="dropdown open">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Games <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                @foreach (var game in Model.Games)
                {
                    <li><a asp-area="" asp-controller="Games" asp-action="Details" asp-route-game="@game">@game</a></li>
                }
            </ul>
        </li>
        <li class="dropdown open">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Consoles <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                @foreach (var console in Model.Consoles)
                {
                    <li><a asp-area="" asp-controller="Games" asp-action="Details" asp-route-game="@console">@console</a></li>
                }
            </ul>
        </li>
        <li class="dropdown open">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Accessories <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                @foreach (var accessory in Model.Accessories)
                {
                    <li><a asp-area="" asp-controller="Games" asp-action="Details" asp-route-game="@accessory">@accessory</a></li>
                }
            </ul>
        </li>
    </ul>
    @await Html.PartialAsync("_LoginPartial")
</div>