@model ProductViewModel


@if (User.IsInRole(AppConstants.Administrator))
{
    <div class="row">
        <div class="clearfix"></div>
        <div class="col-md-6">
            <form method="post" asp-area="@WebContants.AdminArea" asp-controller="Admins" asp-action="EditProduct" class="form-horizontal" enctype="multipart/form-data">
                <input asp-for="@Model.Id" type="hidden" />
                <div class="form-group">
                    <label asp-for="@Model.Price"></label>
                    <input asp-for="@Model.Price" required class="form-control" />
                    <span asp-validation-for="@Model.Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Quantity"></label>
                    <input asp-for="@Model.Quantity" required class="form-control" />
                    <span asp-validation-for="@Model.Quantity" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Discount"></label>
                    <input asp-for="@Model.Discount" required class="form-control" />
                    <span asp-validation-for="@Model.Discount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Title"></label>
                    <input asp-for="@Model.Title" required class="form-control" />
                    <span asp-validation-for="@Model.Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Model"></label>
                    <input asp-for="@Model.Model" required class="form-control" />
                    <span asp-validation-for="@Model.Model" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Manufacturer"></label>
                    <input asp-for="@Model.Manufacturer" required class="form-control" />
                    <span asp-validation-for="@Model.Manufacturer" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Description"></label>
                    <textarea asp-for="@Model.Description" required class="form-control" ></textarea>
                    <span asp-validation-for="@Model.Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Description"></label>
                    <input name="image" type="file" accept="image/*" required class="form-control" />
                </div>
                <input type="submit" value="Edit Product" class="btn btn-warning" />
                <a asp-area="Admin" asp-controller="Admins" asp-action="DeleteProduct" asp-route-id="@Model.Id" class="btn btn-danger">Delete Product</a>
            </form>
        </div>
    </div>
}
